docker==5.0.0
elastic-apm==6.1.2
elasticsearch==7.10.0
farm-haystack @ git+https://github.com/deepset-ai/haystack.git@cf8a622e359859c2780f7b18e91862f75d9bd969
fastapi==0.63.0
fastimport==0.9.8
Flask==1.1.2
Flask-Cors==3.0.10
flask-restplus==0.13.0
gunicorn==20.1.0
numpy==1.20.2
pandas==1.2.4
pydantic==1.8.1
pygtail==0.11.1
pyngrok==5.0.5
scikit-learn==0.24.1
scipy==1.6.2
six==1.14.0
sklearn==0.0
SQLAlchemy==1.4.9
SQLAlchemy-Utils==0.37.0
tika==1.24
tokenizers==0.10.2
torch==1.7.1
tqdm==4.60.0
transformers==4.5.0
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.5
uvicorn==0.13.4
pyodbc==4.0.30
paramiko==2.10.1
