/*body {
    color: #fff;
    background-color: #4F8BF9;
}*/

label {
    display: none;
}

footer {
    display: none !important;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

.main {
        padding-left:90px;
        padding-right: 90px;
}

/*.stButton>button {
    color: #4F8BF9;
    border-radius: 10%
    height: 1em;
    width: 3em;
    font-size: 3em;
}*/

/*.stTextInput>div>div>input {
    color: #4F8BF9;
}*/

.big-font {
        font-size:50px !important;
    }

.css-1aumxhk {
    padding: 1rem 2rem ;
}
